<div class="container mx-auto">
    <div class="mt-5 mx-5">
      <div class="container text-center">
        <div class="row">
          <div class="col ">
            <div class="border-end me-4 border-black">
              <img src="{{ products.imgUrl }}" alt="" width="50%" class="border border-secondary rounded">
            </div>
            
          </div>
          <div class="col">
         
            <p class="text-sm-start text-danger fs-3"> {{products.price}} đ</p>
            <h2 class="text-sm-start">
              {{products.name}}
            </h2>
            <div>
              <p class="text-sm-start"> Mô tả ngắn: {{products.description}}</p>
            </div>
            <div class="text-sm-start">
              <button type="button" class="btn btn-danger">Mua</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <div class="p-3 mb-2 " style="background-color: #F2F2F2;">
          <h2 class='text-danger text-center'>ĐẶC ĐIỂM NỔI BẬT</h2>
          <p>aaaa</p>
           <p>Vậy sản phẩm có gì nổi bật, giá bao nhiêu và
            liệu
            có nên mua không? Tìm hiểu ngay nhé!</p>
        </div>
      </div>
      <div class=''>
       
      </div>
  
    </div>